body {
    font-family: Arial, Helvetica, sans-serif;
}

.blog-title {
width: 50%;
margin: 0 auto;

}

#blog-form label {
    display: block;
    margin-top: 1em;
}

#blog-form input,
#blog-form textarea {
    width: 100%;
    padding: 0.5em;
}

#blog-form button {
    display: block;
    margin-top: 1em;
    padding: 0.5em;

}