* {
    background-color: honeydew ;
    color: gray;

}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: honeydew;
    color: gray;
}

.dark-mode {
    background-color: #333;
    color: #fff;
    border-color: #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.light-mode {
    background-color: honeydew;
    color: gray;

}

.dark-mode button,
.dark-mode input[type="text"],
.dark-mode textarea {
  background-color: #555;
  color: #fff;
}

.dark-mode header,
.dark-mode footer {
  background-color: #222;
  color: #fff;
}

.dark-mode pre {
    background-color: #444;
    color: #ccc;
  }

  .dark-mode .error-message {
    color: blueviolet
  }
  
  




