body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: honeydew;
    display: grid;
    grid-template-rows: minmax(20px, 25px); 
    gap: 2px;
  }
  
  .dark-mode {
    background-color: gray;
    color: gray;
    border-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .light-mode {
    background-color: honeydew;
    color: honeydew;
  }
  
  .dark-mode button,
  .dark-mode input[type="text"],
  .dark-mode textarea {
    background-color: inherit; /* Inherit from parent's background color */
    color: honeydew;
  }
  
  .dark-mode header,
  .dark-mode footer,
  .dark-mode pre {
    background-color: gray;
    color: gray;
  }
  
  .error-message { /* More generic selector for error message color */
    color: blueviolet;
  }
  
  #blog-form input,
  #blog-form textarea {
    width: 100%;
    padding: 0.5em;
  }
  
  #blog-form button {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
  }
  
  #blog-form label {
    display: block;
    margin-top: 1em;
  }
  
  .blog-title {
    width: 50%;
    margin: 0 auto;
    color: #000;
  }

  #blogPosts {
    margin-top: 90px;
  }

  .post {
    border: 2px solid black;
    margin-top: 5px;
  }

  #blogForm {
    display: flex;
    flex-direction: column;
    width: 75%;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
  }